{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <ul>
        <li><a href="/submit">Submit a message</a>
        <li><a href="/view">View messages</a></li>
    </ul>

    <h2>Submit</h2>

      <form method="post">
          <label for="message">Your message:</label><br>
          <input type="text" name = "message" id = "message" required><br>
          <label for="name">Your name or handle:</label><br>
          <input type="text" name="name" id = "name" required><br>
          <input type="submit" value="Submit message">

      </form>

    {% if submit %}
        <br>
        <p>Thank you for the message!</p> 
        <br>
        <br>
        {{ message }}
        <br>
        - {{ name }}

    {% endif %}

{% endblock %}

